# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


{/* <Routes>
        <Route path="/" element={<Main/>} />
        <Route path="/signin" element={<SignIn/>} />
      </Routes> */}
{/* where router for other pages will be */}
import { Routes, Route } from "react-router";
import {Link} from 'react-router-dom'import AnchorLink from 'react-anchor-link-smooth-scroll';

import NavDropdown from 'react-bootstrap/NavDropdown'

       <NavDropdown title="About" id="basic-nav-dropdown">
              <NavDropdown.Item href=""><AnchorLink href="mission">
                Mission</AnchorLink></NavDropdown.Item>
              <NavDropdown.Item href=""><AnchorLink href="#affiliation">
                Affiliation</AnchorLink>
              </NavDropdown.Item>
              <NavDropdown.Item href=""><AnchorLink href="#contact">
                Contact</AnchorLink></NavDropdown.Item>
            </NavDropdown>
   
<Navbar collapseOnSelect className='primary' expand="md"  variant="dark">
    <Container className='navbar' >
      <Navbar.Brand className='d-flex brand' href=""> <Link to="/"><div className="logo"></div>P<span className="bank">EL</span></Link></Navbar.Brand>
      <Navbar.Toggle aria-controls="responsive-navbar-nav" />
      <Navbar.Collapse id="responsive-navbar-nav">
        <Nav>
          <Link className='nav-link'to="/">Home</Link>
          <Link className='nav-link' href="" to="/publications">
            Publications
          </Link>
          <Link className='nav-link' href="" to="/editorialboard">
            Editorial Board
          </Link>
          <AnchorLink className='nav-link'  href="" to="/generalinformation">
            General information
          </AnchorLink>
        </Nav>
      </Navbar.Collapse>
    </Container>
  </Navbar>